.form {
	display: flex;
	width: 100%;
	padding: 1.3rem 1rem;
	background-color: var(--color-bg-dark);
}
.input {
	flex: 1;
	font-size: 1rem;
	border: none;
	outline: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem 0 0 0.5rem;
}
.input:focus::placeholder {
	font-size: 0;
}
.button {
	cursor: pointer;
	color: #fff;
	background-color: var(--color-accent);
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
	border-radius: 0 0.5rem 0.5rem 0;
}
