:root {
	/* -- : css에서 사용하는 변수 */
	--color-white: #fff;
	--color-bg: #fdfffd;
	--color-bg-dark: #e7e7e7;
	--color-gray: #d8d4d4;
	--color-text: #22243b;
	--color-accent: orange;
	--color-scrollbar: #afafaf;
	--color-listBar: rgba(255, 166, 0, 0.1);
}
* {
	transition: all 0.3s;
}
html.dark {
	--color-white: #fff;
	--color-bg: #222;
	--color-bg-dark: #222;
	--color-gray: #d8d4d4;
	--color-text: #fff;
	--color-accent: orange;
	--color-scrollbar: orange;
	--color-listBar: rgba(0, 0, 0, 0.219);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	background: #0f2027;
	background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
#root {
	width: 95%;
	max-width: 500px;
	height: 60%;
	background-color: var(--color-bg-dark);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
	overflow: hidden;	
}
button {
	border: none;
	outline: none;
}

::-webkit-scrollbar {
	width: 0.8rem;
}
::-webkit-scrollbar-track {
	background-color: var(--color-bg-dark);
}
::-webkit-scrollbar-thumb {
	background-color: var(--color-scrollbar);
	border-radius: 3rem;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-accent);
}
